* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Navbar Styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

header>div {
    display: flex;
}

header>.nav-left {
    margin-left: 12px;
    display: flex;
    gap: 8px;
}

header>.nav-left>div {
    background-color: #F0F2F5;
    border-radius: 18px;
    max-width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

header>.nav-left>div>input {
    border: none;
    background-color: inherit;
    outline: none;
}

header>.nav-left>div>label>i {
    color: #505153;
}

header>.nav-center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header>.nav-center>div {
    height: 90%;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

header>.nav-center>div>i {
    color: #606366;
    font-size: 18px;
}

header>.nav-center>div:hover {
    background-color: #eceef0;
}

header>.nav-right {
    margin-right: 12px;
    display: flex;
    gap: 7px;
}

header>.nav-right>div {
    height: 35px;
    width: 35px;
    font-size: 16px;
    background-color: #D6D9DD;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main Container styling */
.main {
    flex: 1;
    display: flex;
    width: 100%;
 }

.main>.main-left {
    width: 300px;
    /* background-color: #505153; */
}

.main>.main-center {
    flex: 1;
    /* background-color: aqua; */
    /* text-align: center; */
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main>.main-center>.main-center-center {
    display: flex;
    flex-direction: column;
    gap: 8px;
     max-width: 500px;
    flex: 1;
    /* background-color: brown; */
    height: 100%;
  }

.main > .main-center > .main-center-center > .create-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    border-radius: 14px;
     padding: 0 5px;
    margin-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5px;
}
.main > .main-center > .main-center-center > .create-post > .logo > img{
   border-radius: 50%;
}
.main > .main-center > .main-center-center > .create-post > .createpost-btn{
  flex: 1;
} 
.main > .main-center > .main-center-center > .create-post > .createpost-btn > button{
    width: 100%;
    height: 32px;
    border-radius: 12px;
    border: none;
    background-color: #E4E6E9;
    text-align: start;
    padding-left: 10px;
    font-size: 15px;
    color: #898B8E;
 } 

.main > .main-center > .main-center-center > .create-post > .icons{
    display: flex;
 }
 .main > .main-center > .main-center-center > .create-post > .icons > div{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
 }
 .main > .main-center > .main-center-center > .create-post > .icons  > :nth-child(1) > i{
    color: #E42645;
 }
 .main > .main-center > .main-center-center > .create-post > .icons  > :nth-child(2) > i{
    color: #41B35D;
 }
 .main > .main-center > .main-center-center > .create-post > .icons  > :nth-child(3) > i{
    color:  #EAB026;
 }
 .main > .main-center > .main-center-center > .create-post > .icons > div:hover{
    background-color: #F0F2F5;
 }

 
.main > .main-center > .main-center-center > .stories-section{
    display: flex;
    flex-direction: row;
    gap: 8px;
    min-width: 90% ;
    width: 100% ;
     overflow-x:scroll;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
 }
.main > .main-center > .main-center-center >  .stories-section > :first-child{
    height: 200px;
    min-width: 110px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;

 }
.main > .main-center > .main-center-center >  .stories-section > :first-child > .story-img{
    height: 75%;
    background-image: url("Dashboard Images/My\ img.png");
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.main > .main-center > .main-center-center >  .stories-section > :first-child > .plus-icon{
    width: 100%;


    text-align: center;
    position: absolute;
    bottom: 35px;
    left: 39px;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 2px;
}
.main > .main-center > .main-center-center >  .stories-section > :first-child > .plus-icon > div {
    background-color: #0866FF;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
font-size: 18px;  }
.main > .main-center > .main-center-center >  .stories-section > :first-child > .caption{
    height: 25%;
    position: relative;
    font-size: 14px;
}
.main > .main-center > .main-center-center >  .stories-section > :first-child > .caption > p{
    position: absolute;
    bottom: 5px;
    left: 23px;
}

.main > .main-center > .main-center-center >  .stories-section > .story{
    height: 200px;
    min-width: 110px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    background-size: cover;
    background-position: center;
    
}
.main > .main-center > .main-center-center >  .stories-section > .story > .profile-pic{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 3px solid #075CE5;
    position: absolute;
    top: 8px;
    left: 8px;
}
.main > .main-center > .main-center-center >  .stories-section > .story > .profile-pic > img{
    height: 100%;
    width: 100%;
    border-radius: inherit;
}
.main > .main-center > .main-center-center >  .stories-section > .story > .profile-name{
     margin-top: 150px;
    height: 50px;
      background: linear-gradient(to top, #000, #00000000);
      border-radius: 10px;

}
.main > .main-center > .main-center-center >  .stories-section > .story > .profile-name > p{
    position: absolute;
    bottom: 8px;
    left: 8px;
    font-weight: bold;
    color: white;
    
}
.main > .main-center > .main-center-center >  .posts-section{
    margin-top: 8px;
    background-color: grey;
}

.main > .main-center > .main-center-center >  .posts-section > .post {
    /* max-height: 0px; */
    width: 100%;
    background-color: white;
    border: 1px solid;
    padding: 5px;
}
.main > .main-center > .main-center-center >  .posts-section > .post > .post-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .main > .main-center > .main-center-center >  .posts-section > .post > .post-top > .post-top-left{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
 }
 .main > .main-center > .main-center-center >  .posts-section > .post > .post-top > .post-top-left > .profile-icon > img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
 }
 .main > .main-center > .main-center-center >  .posts-section > .post > .post-top > .post-top-left > .profile-name :first-child{
    font-weight: bold;
    /* font-size    : 14px; */
 }
.main > .main-center > .main-center-center >  .posts-section > .post > .post-top > .post-top-left > .profile-name :nth-child(2){
    color: rgb(119, 117, 117);
    font-size: 13px;
    margin-bottom: 5px;
 }
 .main > .main-center > .main-center-center >  .posts-section > .post > .post-top > .post-top-right > i{
    color: #727578;
 }
.main > .main-center > .main-center-center >  .posts-section > .post > .post-content{
    text-align: center;
    max-height: 500px;
    width: 100%;
    background-color: grey;
}




.main > .main-right {
    width: 300px;
    /* background-color: #606366; */
}



/* Media Queries */

@media (max-width:1024px) {
    header>.nav-center {
        display: none;
    }

    .main>.main-left,
    .main-right {
        display: none;
    }
}

@media (max-width:768px) {
    header>.nav-left>div>input {
        display: none;
    }
}